@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z3ldh4');
  src:  url('fonts/icomoon.eot?z3ldh4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?z3ldh4') format('truetype'),
    url('fonts/icomoon.woff?z3ldh4') format('woff'),
    url('fonts/icomoon.svg?z3ldh4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play-circle:before {
  content: "\e90a";
}
.icon-clock:before {
  content: "\e900";
}
.icon-download-cloud:before {
  content: "\e901";
}
.icon-users:before {
  content: "\e902";
}
.icon-checkmark:before {
  content: "\e90b";
}
.icon-download:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-youtube:before {
  content: "\e906";
}
.icon-undo:before {
  content: "\e903";
}
.icon-google-plus:before {
  content: "\e907";
}
.icon-brand:before {
  content: "\e907";
}
.icon-social:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-brand1:before {
  content: "\e908";
}
.icon-tweet:before {
  content: "\e908";
}
.icon-social1:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-brand2:before {
  content: "\e909";
}
.icon-social2:before {
  content: "\e909";
}
