
*{box-sizing: border-box;}
/***  Mise en page  ***/

.globe { 
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

body { margin: 0 0 0 0; }

img{max-width :100%;}

a {text-decoration: none;}

/************   header *************/


header { 
    background: linear-gradient(to right, rgba(0,255,255,1) 0%,rgba(0,51,255,1) 100%);
    overflow: hidden;
    position: relative;    
}

header .navigation {
    text-align: right;
    margin-right: 50px;
    margin-top: 40px;
    color: #ffffff;
}

.Menu {
    position: absolute;
    width : 30px;
    height: 25px;
    right: 95px;
    top: 35px;
    color: white;
    border:solid 2px;
}

.Menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
}

.Menu .ligne1 {
    position: absolute;
    left: 4px;
    top: 7px;
    width: 70%;
}

.Menu .ligne2 {
    position: absolute;
    left: 4px;
    top: 13px;
    width: 40%;
}

header .center {
    display: inline-block;
    color:white;
}

header h1{
    font-family:'Montserrat', sans-serif;
    font-weight: 300; 
    font-size: 52px;
    margin:0px;
    color: white;
}

header h3,
header a {
    font-family:'Montserrat', sans-serif;
    font-weight: 300; 
    font-size: 18px;
    margin:0px;
    color:#ffffff;
    display: inline-block;
    text-decoration: none;
}

header a::after {
    content: "/";
    margin:0 10px;
    color : #ffffff;
}

header article{
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
    width: 85%;
    margin-bottom: 40px;
    margin-top:40px;  
    line-height: 1.6;
}

header img{
    margin-top:55px;
    margin-bottom: 55px;
    width: 30%;
    float: left;
}

header .texte{
    width: 65%;
    float: right;
    position: relative;
    transform: translateY(50%);
    text-align: left;
}

header .texte2{
    padding: 100px 0; 
    margin: 0 auto ;
}

header .globe {text-align: center;}

header .center span {display: inline-block;}

header p {
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    display: inline-block;
    margin:0px;
}

header .download {
    border: solid 1px;
    display: inline-block;
    padding: 9px 25px;
    border-radius: 3px;
}

header .download:hover { color: #ff0015;}

header .social .logo + .logo { margin-left: 20px; }

header .social .google:hover { color : #00a8ff;}

header .social .youtube:hover { color : #00a8ff; }

header .social .twitter { color : #00a8ff; }

header .social .facebook:hover { color : #00a8ff ; }

header .social {
    margin-bottom: 39px;
    margin-left: 52px; 
}
header .social .logo { 
    display: inline-block;  
    color: white;
    font-size: 24px;
}



/************* partie definition *************/


.definitions {
    background: #eef2f5;
    overflow: hidden;
}

.definitions .globe .paragraphes article { 
    width: 40%;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color:#696969;
}

.definitions .globe .paragraphes article h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color:#0b0b0b;
}

.definitions .globe .paragraphes {
    position: relative;
    transform: translateY(50%);    
    width: 55%;
    float: left;
    margin-left: 20px;

}

.definitions .globe figure img {
    width:39%;
    float: right;
    margin-top:40px;
    margin-bottom: 40px;
}
.definitions .globe .paragraphes article:nth-child(even){margin-left:60px;} 

.definitions .globe .paragraphes article:nth-child(2) {margin-bottom: 60px;}

/************* Screen Shots *************/


.Screenshots h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color:#458fe1;
    text-align: center;
    margin-top: 80px;
}

.Screenshots h1 span { font-weight: bold;}

.Screenshots p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #656d80;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 80px; 
    line-height: 1.6;
}

.Screenshots .images figure {
    width: calc(25% - 30px);
    display: inline-block;
    margin: 0;
    border:solid #d0d0d0 1px;
}

.Screenshots .images figure:hover,
.Screenshots .images figure .active { opacity: 0.5;}

.Screenshots .images figure .active:hover { opacity: 1;}

.Screenshots .images figure + figure { margin-left: 30px; }
.Screenshots .images figure img {
    display: block;
    width: 100%;
}

.Screenshots nav{padding: 80px 100px 130px;}

.Screenshots ul {
    margin:0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.Screenshots ul li { display: inline-block; }

.Screenshots ul li a {
    display: block;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background: #3390fd;
    border-radius: 100%;
}

.Screenshots ul li a+a {margin-left: 10px;} 

.Screenshots ul li a.active,
.Screenshots ul li a:hover { transform:scale(1.5); }

/************* how it works *************/


.How {background: #eef2f5;}

.How  .globe {
    background-image: url("assets/images/iphones-detoure.png"); 
    background-repeat: no-repeat;
    background-position: right; 
    min-height: 700px;
}

.How  .globe .texte{
    transform: translateY(70%);
    width: 70%;
} 

.How  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color:#458fe1;
    text-align: left;
    margin-bottom: 0px;
}

.How  h2 span { font-weight: bold;}

.How  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #40485a;
    width: 60%;
    text-align: left;
    margin-bottom: 50px; 
    line-height: 1.6;
}


.How  .play span{
   color: #3390fd;
   font-size: 30px;
}

.How  .play a{
    display: inline-block;
    margin-left: 10px;
    font-family: 'Open sans', sans-serif;
    font-size: 14px; 
    color: #5c667d;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    transform: translateY(-50%);
} 

.How  .play a::after{
    content: "";
    display: block;
    width: 100%;
    height:1px;
    background: #5c667d;
    position: absolute;
    bottom: -5px;
    transition: 300ms;
} 



/************* Now Available *************/

.Now {
    background: linear-gradient(to right, rgba(0,99,250,1) 0%,rgba(0,194,255,1) 100%);
    overflow: hidden; /* pour cacher l'espace entre ce paragraphe et le précédent */
    padding-top: 50px;
    padding-bottom: 50px; 
}

.Now .globe {text-align: center;}

.Now .globe h2{
    font-family: 'Monserrat', sans-serif; 
    font-size: 40px;
    font-weight: 300;
    color: #ffffff; 
}

.Now .globe h2 span {font-weight: 400;}

.Now .globe p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ffffff;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    font-weight: 400;
    line-height: 1.6;
}

.Now .globe figure { display: inline-block;}

/************* Client sayes *************/


.Client {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;}

.Client h2{
    font-family: 'Montserrat', sans-serif; 
    font-size: 40px;
    font-weight: 300;
    color: #458fe1;
}

.Client h2 span { font-weight: 400;}

.Client p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #656d80;
    width: 60%;
    margin: auto; 
    margin-bottom: 50px;
    line-height: 1.6;
}

.Client h3 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 25px;
    font-weight: 400;
    color: #458fe1;
    margin-top: 15px;
    margin-bottom:0px;  
}

.Client h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #656d80;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom:30px; 
}

.Client ul {
    margin-top:50px;
    padding: 0;
    list-style: none;
    text-align: center;
}

.Client ul li { display: inline-block; }

.Client ul li a {
    display: block;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background: #3390fd;
    border-radius: 100%;
}

.Client ul li a+a {margin-left: 10px;} 

.Client ul li a.active,
.Client ul li a:hover { transform:scale(1.5); }

/************* Information *************/


.Information {
    background: linear-gradient(to right, rgba(0,194,255,1) 0%,rgba(0,99,250,1) 100%);
    padding-top: 50px;
    padding-bottom: 50px;
}

.Information .globe {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: white;
    text-align: center;
    position: relative;
}

.Information .globe .gauche {
    display: inline-block;
    text-align: center;
}

.Information .globe .gauche .content{
    display: inline-block;
    margin-right:90px; 
}

.Information .globe .centre::before, 
.Information .globe .droite::before{
    content: "";
    display: inline-block;
    width: 2px;
    height:100%;
    background: #ffffff;
    height: 180px;
    position: absolute;
    transform: rotate(20deg);
}

.Information .globe .centre::before {
    position: absolute;
    left: 400px;
}

.Information .globe .centre {    
    display: inline-block;
    text-align: center;
    margin-left:100px;
    margin-right:100px; 
}

.Information .globe .droite {    
    display: inline-block;
    text-align: center;
}

.Information .globe .droite .content{
    display: inline-block;
    margin-left:90px; 
}

.Information .globe span {font-size: 40px;}

.Information .globe p {
    margin-top: 20px;
    margin-bottom:0px;
}
 
.Information .globe p + p { 
    margin-top: 0px;
    margin-bottom: 30px;
}

/************* Pricing *************/


.Pricing {
    padding-top:100px;
    padding-bottom:100px; 
    text-align: center;
}

.Pricing h2 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 40px;
    font-weight: 400;
    color: #458fe1;
    margin: 0;
}

.Pricing p {
    font-family: 'Open Sans', sans-serif; 
    font-size: 14px;
    font-weight: 400;
    color: #8f98ad;
    width: 50%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 1.6;

}

.Pricing .gauche {
    display: inline-block;
    border: 1px solid #8f98ad; 
    padding: 20px 50px;   
}

.Pricing .gauche:hover {
    box-shadow: 0px 0px 10px 1px grey; 
    border:0px;
}

.Pricing .centre {
    display: inline-block;
    padding: 20px 50px;   
    margin-left:40px;
    margin-right: 40px;
    box-shadow: 0px 0px 10px 1px grey; 
}

.Pricing .droite {
    display: inline-block;
    border: 1px solid #8f98ad; 
    padding: 20px 50px;   
}

.Pricing .droite:hover {
    box-shadow: 0px 0px 10px 1px grey; 
    border:0px;
}

.Pricing h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:#9fa4af;
    font-weight: 400;
}

.Pricing h4 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #4f4f6f;
    margin-top:20px;
}

.Pricing h4 sup { font-size: 16px; }

.Pricing h4 span {font-size: 16px;}

.Pricing h5 span { color:#4e9ffd;}

.Pricing h5  {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#6a6c6d;
    margin-top: 0px;
    margin-bottom: 10px;
}

.Pricing .button {
    border-radius : 50px;
    padding: 15px 20px;
    background: linear-gradient(to right, rgba(0,99,250,1) 0%,rgba(0,194,255,1) 100%);
    font-family: 'Monserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color:#ffffff; 
    margin-top:40px;
    margin-bottom:20px;
}

.Pricing a { text-decoration: none;}
.Pricing a .button.active { background: linear-gradient(to bottom, rgba(0,194,255,1) 0%,rgba(0,99,250,1) 100%);}

/************* Blog *************/

.Blog .globe {text-align: center;}

.Blog .globe h2 {
    font-family: 'Monserrat', sans-serif;
    font-size:40px;
    font-weight: 400;
    color:#458fe1;
    margin-bottom: 20px;
}
.Blog .globe h3 {
    font-family: 'Monserrat', sans-serif;
    font-size:18px;
    font-weight: 400;
    color:#494753;
}

.Blog .globe p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #8f98ad;
    width: 50%;
    margin: auto;
    margin-bottom: 60px;
    line-height: 1.6;
}

.Blog .globe article{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6a6c6d;
    text-align: initial;
    line-height: 1.6;
}

.Blog .globe figure {
    position: relative;
    width: 100%;
    margin:0;
}

.Blog .globe figcaption {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6a6c6d;
    text-align: initial;
}

.Blog .globe .gauche,
.Blog .globe .centre,
.Blog .globe .droite {
    width: 33%;
    float: left;
    padding-right: 11px;
    padding-left: 11px;
    box-sizing: border-box;
}

.Blog  .globe .button {
    border-radius : 50px;
    padding: 15px 40px;
    background: linear-gradient(to right, rgba(0,99,250,1) 0%,rgba(0,194,255,1) 100%);
    font-family: 'Monserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color:#ffffff; 
    margin-top:40px;
    margin-bottom:20px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    clear: both;
    display: inline-block;
    margin: 80px 0px;
    }



/************* footer *************/



.footer1 {
    background: linear-gradient(to right, rgba(0,99,250,1) 0%,rgba(0,194,255,1) 100%);
    padding: 50px 0; 
}

.footer1 p{
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
    color: #ffffff;
    float: left;
    margin: 0;  
    line-height: 45px;
    margin-left:80px;
}

.footer1 p span {font-size: 25px;}

.footer1 a .button {
    border: 1px solid #ffffff;
    border-radius : 50px;
    padding: 15px 50px;    
    font-family: 'Monserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color:#ffffff; 
    margin-top:40px;
    margin-bottom:20px;
    text-transform: uppercase;
    clear: both;
    margin: 0;
    margin-right:80px;
}

.footer1 a {
    float:right;
    text-decoration: none;
}


.footer2{
    background: #21242a;
    padding: 100px 0;
    clear: both;
}

.footer2 h3 {
    font-family: 'Monserrat', sans-serif;
    font-size:20px;
    color: #ffffff;
    font-weight: 400;
}

.footer2 h5,
.footer2 h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#ffffff;
    margin-bottom: 0px;
    margin-top:15px;
    line-height: 1.6;
    opacity: 0.5;
}

.footer2 .gauche,
.footer2 .centre{
    display: inline-block;
    width: 25%;
    float: left;
}

.footer2 .droite{
    display: inline-block;
    width: 48%;
    float: right;
}

.footer2 .droite .Email {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius : 50px;
    height: 48px;
    position: relative;
    margin-top: 50px ;
}

.footer2 .droite .Email h6 {
    float: left;
    height: 44px;
    margin:0;
    margin-top:12px;
    margin-left: 10px;
}

.footer2 .droite .Email a .button {
    border-radius : 50px;
    padding: 15px 50px;    
    font-family: 'Monserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color:#ffffff; 
    margin-top:40px;
    margin-bottom:20px;
    text-transform: uppercase;
    clear: both;
    margin: 0;
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(to right, rgba(79,160,223,1) 0%,rgba(71,117,230,1) 100%);
    position: absolute;
    right:2px;
    top:1px;
}

.footer2 .droite a{
    text-decoration: none;
    float :right;
}



.footer3 {
    background: #1c1f24;
    padding: 10px 0;
}

.footer3 h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color:#9a9a9a;
    text-align: center;
}

.footer3 h4 span + span { color:#4f9ee0;}

/************* blog details *************/


.content {
    width: 70%;
    display: inline-block;
}

main .globe .content figure { margin: 100px 0 30px 0;}


main .globe .content h2{
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
    color: #011d27;
}

main .globe .content .info1,
main .globe .content .info2,
main .globe .content .info3 {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #bcbcbc;
    font-style: italic;
}
main .globe .content .info2::after,
main .globe .content .info2::before
 {
    content: "/";
    margin:0 10px;
    color : #bcbcbc;
}

main .globe .content article{
    margin: 20px 0;
    width: 87%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #788a9e;
}

main .globe .content h4 {
    display: inline-block;
    font-family: 'Monserrat', sans-serif;
    font-size: 14px;
    color:#011d27;
    text-transform: uppercase;
    margin-bottom:0;
}

main .globe .content .reseaux,
main .globe .content .facebook,
main .globe .content .twitter,
main .globe .content .linkedin,
main .globe .content .google,
main .globe .content .pinterest,
main .globe .content .instagramme{
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: #5e6d77;
}

/************* comments *************/

main .globe .commentaires h3{
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    color:#011d27;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom:35px; 
}

main .globe .commentaires figure{
    margin: 0;
    margin-right: 30px;
    float: left;
    margin-bottom: 30px;
}

main .globe .commentaires .droite h4{
    font-family: 'Monserrat', sans-serif;
    font-size: 14px;
    color:#011d27;
    font-weight: 300;
    text-transform: uppercase;
    margin:0;
}

main .globe .commentaires .droite article{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #788a9e;
    line-height: 1.6;
    margin: 10px 0;

}

main .globe .commentaires .droite .date {
    float: left;
    margin-right: 20px;
    font-family: 'Monserrat', sans-serif;
    font-size: 14px;
    color:#5e6d77;
}

main .globe .commentaires .droite .reply {
    font-family: 'Monserrat', sans-serif;
    font-size: 14px;
    color:#5e6d77;
}


hr{ 
    margin:50px 0 30px 0;
    width: 90%;
}


/************* contact *************/

main .globe .Contact h3{
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    color:#011d27;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom:35px; 
}

input[type=text] {
    width: 35%;
    padding-bottom: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid grey;
  }

form span{ padding-left:50px; }

#message {
    width: 77%;
    padding: 12px 0px 60px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid grey;
  }

  .Contact .button {
    border-radius : 50px;
    padding: 15px 20px;
    background: linear-gradient(to right, rgba(0,99,250,1) 0%,rgba(0,194,255,1) 100%);
    font-family: 'Monserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color:#ffffff; 
    margin-top:40px;
    margin-bottom:20px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    clear: both;
    display: inline-block;
    margin: 40px 0px 80px;
}



aside {
    width: 29%;
    float:right;
    display: block;
    padding-top:100px;
}

aside .recherche .icon {
    width: 5%;
    display: inline-block;
    margin: 0;
    float: right;
    margin-top:-30px; 

}

aside input[type=text] {
    width: 90%;
    padding-bottom: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid grey;
    background-position: 10px 10px; 
    background-repeat: no-repeat; 
    display: inline;
}

aside h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#011d27;
}

aside p {
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color:#011d27;
    margin: 0px;
}

aside .Category p,
aside h3,
aside .Texte p:last-child { 
    border-bottom:1.5px solid  rgba(188, 188, 188, 0.5)  ;
    padding-bottom:20px; 
    padding-top :20px; 
}

aside .Tages h3 {border: none;}

aside .Category span+span {float:right;}

aside h3{
    font-family: 'Monserrat', sans-serif; 
    font-size :20px;
    color: #011d27; 
    margin: 0px;
    padding-bottom: 40px;
    padding-top: 50px;
}
aside .Tages span {
    border : 1px solid #011d27;
    padding: 5px 15px;
    margin-right: 10px;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #555555;
    display: inline-block;
    margin-top: 15px;
}

aside .Texte p {
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #011d27;
    padding-top: 10px;
}

aside .Texte p:first-child {margin-top:20px; }

aside .Texte p:nth-child(even) {
    font-family: 'Open sans', sans-serif;
    font-size: 12px;
    color: #bcbcbc;
    padding-top:0px; 
}


/************* Blog *************/


.ligne-1,
.ligne-2,
.ligne-3 { margin: 60px 0px;}

.lesBlog figure {
    width: 100%;
    margin:0;
}

.ligne-1 .image_gauche,
.ligne-1 .image_droite,
.ligne-2 .image_gauche,
.ligne-2 .image_droite,
.ligne-3 .image_gauche,
.ligne-3 .image_droite {
    width: 40%;
    display:inline-block;
}

.ligne_1 .image_droite,
.ligne_2 .image_droite,
.ligne_3 .image_droite{ margin-left:50px; }

.lesBlog article {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #292a33;
    text-align: initial;
    line-height: 1.6;
    margin-bottom: 20px;
}

.lesBlog .ligne-1{ margin-top:100px;}

.lesBlog figcaption {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #47505c;
    margin-top:20px;
}

.lesBlog h3 {
    font-family: 'Monserrat', sans-serif;
    font-size: 18px;
    color: #252a30; 
}

.lesBlog a {
    font-family: 'Monserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #84b0f8; 
}

.lesBlog a:hover{ text-decoration: underline;}


.numerotation {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color:#232323;
    text-align: center;
    border-top: 1px solid rgba(188, 188, 188, 0.5)  ;
    border-bottom: 1px solid rgba(188, 188, 188, 0.5);
    padding: 20px 0px;
    margin-top: 0px;
    margin-bottom: 150px;
}

.numerotation span {margin-left:10px; }

.numerotation span:first-child { margin-right: 40px; }

.numerotation span:last-child { 
    margin-left: 40px;
    color: #008aff; 
}

.numerotation span:nth-child(2),
.numerotation span:hover {
    color: #008aff; 
    border-bottom: 1px solid #008aff;
    padding: 0px 5px 3px; 
} 

.numerotation span i:first-child{ margin-right: 5px;}

.numerotation span i:last-child{ margin-left: 5px;}





/************* FAQ *************/

.mini_nav a {
    font-family: 'Monserrat', sans-serif; 
    font-size: 14px;
    color: #9c9b9b;
    margin-top:120px;
    margin-bottom: 50px;
    display: inline-block;
}

.mini_nav a+a {margin-left: 40px;}

.mini_nav a .active,
.mini_nav a+a:hover {
    background: #dfdfdf;
    padding: 10px 20px;
}

.Informations { margin: 100px 0px;}


.liste p {
    border-bottom:1.5px solid  rgba(188, 188, 188, 0.5)  ;
    padding:25px 0px; 
    width: 85%;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #444444;
    margin: 0px;
}

.liste p:last-child { border: none; }

.left h3,
.center h3,
.right h3 {
    font-family: 'Monserrat', sans-serif; 
    font-size: 18px;
    color: #4d4d4d;
    margin-bottom:50px; 
}

.left .ligne a,
.center .ligne a,
.right .ligne a{
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #868686;
}

.left .ligne a i,
.center .ligne a i,
.right .ligne a i{ margin-right: 10px;}

.left .ligne,
.center .ligne,
.right .ligne { margin-bottom: 20px;}

.left,
.center,
.right {display: inline-block;}

.center,
.right {margin-left: 100px;}

.Forum_Message span{
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #4d4d4d;
    margin-bottom: 100px; 
    display: inline-block;
}

.Forum_Message span + span{ margin-left:70px; }

.Forum_Message span:first-child,
.Forum_Message span:hover
 {
    border: 1px solid  #4d4d4d;
    padding: 20px;
}






